<div id="headerBox" ng-include="'menu.html'"></div>

<div id="subheaderBox" class="aCenter">
	<div class="bottom">
		<span class="button add"><a ng-click="ctrl.gotoQuestion.create();">* {{'button.add' | translate}}</a></span>
		<span class="button"><a ng-click="ctrl.idSelected != null && ctrl.gotoQuestion.update(ctrl.idSelected);" ng-disabled="ctrl.idSelected == null">+ {{'button.update' | translate}}</a></span>
		<span class="button"><a ng-click="ctrl.idSelected != null && ctrl.deleteQuestion(ctrl.idSelected);" ng-disabled="ctrl.idSelected == null">- {{'button.delete' | translate}}</a></span>
		<div class="clearer"></div>
	</div>
</div>

<div id="bodyBox">
	<div class="contain">
		<table>
			<colgroup>
	    		<col class="">
	    		<col class="">
	    		<col class="">
	    		<col class="">
	    	</colgroup>
		<thead>
			<tr>
				<th>{{'question.competence' | translate}}</th>
				<th>{{'question.level' | translate}}</th>
				<th>{{'question.description' | translate}}</th>
				<th>{{'question.title' | translate}}</th>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat="question in ctrl.questionAll" ng-click="ctrl.setSelected(question.id)" 
				ng-class="{selected: question.id === ctrl.idSelected }" 
				ng-dblclick="ctrl.setSelected(question.id);ctrl.gotoQuestion.update(ctrl.idSelected);">

				<td>{{question.competence}}</td>
				<td>{{question.level}}</td>
				<td>{{question.description}}</td>
				<td>{{question.title}}</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
		</table>
	</div>	
</div>