<div id="headerBox" ng-include="'menu.html'"></div>
<div id="bodyBox">
<div class="contain">
<form name="ctrl.form" ng-init="sent=true;">
<fieldset>
<label for="competence">{{'question.competence' | translate}}:</label>
<input name="competence" id="competence" type="text" ng-model="ctrl.question.competence"
ng-pattern="/^[a-zA-Z0-9]*$/"
ng-minlength="1"
ng-maxlength="150"
/>
<label ng-show="ctrl.form.competence.$error.minlength">{{'error.minlength' | translate}}</label>
<label ng-show="ctrl.form.competence.$error.maxlength">{{'error.maxlength' | translate}}</label>
<label ng-show="ctrl.form.competence.$error.pattern">{{'error.pattern' | translate}}</label>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="level">{{'question.level' | translate}}:</label>
<input name="level" id="level" type="text" ng-model="ctrl.question.level" numberinput='' ng-pattern="/^[0-9]+$/"
ng-minlength="0"
ng-maxlength="3"
/>
<label ng-show="ctrl.form.level.$error.pattern">{{'error.number' | translate}}</label>
<label ng-show="ctrl.form.level.$error.minlength">{{'error.minlength' | translate}}</label>
<label ng-show="ctrl.form.level.$error.maxlength">{{'error.maxlength' | translate}}</label>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="description">{{'question.description' | translate}}:</label>
<input name="description" id="description" type="text" ng-model="ctrl.question.description"
ng-pattern="/^[a-zA-Z0-9]*$/"
ng-minlength="1"
ng-maxlength="260"
/>
<label ng-show="ctrl.form.description.$error.minlength">{{'error.minlength' | translate}}</label>
<label ng-show="ctrl.form.description.$error.maxlength">{{'error.maxlength' | translate}}</label>
<label ng-show="ctrl.form.description.$error.pattern">{{'error.pattern' | translate}}</label>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="title">{{'question.title' | translate}}:</label>
<input name="title" id="title" type="text" ng-model="ctrl.question.title"
ng-pattern="/^[a-zA-Z0-9]*$/"
ng-minlength="1"
ng-maxlength="150"
/>
<label ng-show="ctrl.form.title.$error.minlength">{{'error.minlength' | translate}}</label>
<label ng-show="ctrl.form.title.$error.maxlength">{{'error.maxlength' | translate}}</label>
<label ng-show="ctrl.form.title.$error.pattern">{{'error.pattern' | translate}}</label>
<div class="clear"></div>
</fieldset>
<div class="submitArea">
<button class="buttonRounded" ng-click="ctrl.gotoQuestion.all();"><img src="res/img/icons/back.png" border="0" /><span class="hidden">{{'button.back' | translate}}</span></button>
<button class="buttonRounded right" ng-click="ctrl.doMaintain()"><img src="res/img/icons/save.png" border="0" /><span class="hidden">{{'button.save' | translate}}</span></button>
</div>
</form>
</div>
</div>