<div id="headerBox" ng-include="'menu.html'"></div>
<div id="bodyBox">
<div class="contain">
<form name="ctrl.form" ng-init="sent=true;">
<fieldset>
<label for="competence">{{'competenceevaluation.competence' | translate}}:</label>
<input name="competence" id="competence" type="text" ng-model="ctrl.competenceevaluation.competence"
ng-pattern="/^[a-zA-Z0-9]*$/"
/>
<label ng-show="ctrl.form.competence.$error.pattern">{{'error.pattern' | translate}}</label>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="answers">{{'competenceevaluation.answers' | translate}}:</label>
<input name="answers" id="answers" type="text" ng-model="ctrl.competenceevaluation.answers"
/>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="level">{{'competenceevaluation.level' | translate}}:</label>
<input name="level" id="level" type="text" ng-model="ctrl.competenceevaluation.level"
/>
<div class="clear"></div>
</fieldset>
<fieldset>
<label for="competenceprofile">{{'competenceevaluation.competenceProfile' | translate}}:</label>
<input name="competenceprofile" id="competenceprofile" type="text" ng-model="ctrl.competenceevaluation.competenceProfile"
/>
<div class="clear"></div>
</fieldset>
<div class="submitArea">
<button class="buttonRounded" ng-click="ctrl.gotoCompetenceEvaluation.all();"><img src="res/img/icons/back.png" border="0" /><span class="hidden">{{'button.back' | translate}}</span></button>
<button class="buttonRounded right" ng-click="ctrl.doMaintain()"><img src="res/img/icons/save.png" border="0" /><span class="hidden">{{'button.save' | translate}}</span></button>
</div>
</form>
</div>
</div>