<div id="headerBox" ng-include="'menu.html'"></div>

<div id="subheaderBox" class="aCenter">
	<div class="bottom">
		<span class="button add"><a ng-click="ctrl.gotoCompetenceMatrix.create();">* {{'button.add' | translate}}</a></span>
		<span class="button"><a ng-click="ctrl.idSelected != null && ctrl.gotoCompetenceMatrix.update(ctrl.idSelected);" ng-disabled="ctrl.idSelected == null">+ {{'button.update' | translate}}</a></span>
		<span class="button"><a ng-click="ctrl.idSelected != null && ctrl.deleteCompetenceMatrix(ctrl.idSelected);" ng-disabled="ctrl.idSelected == null">- {{'button.delete' | translate}}</a></span>
		<div class="clearer"></div>
	</div>
</div>

<div id="bodyBox">
	<div class="contain">
		<table>
			<colgroup>
	    		<col class="">
	    		<col class="">
	    		<col class="">
	    	</colgroup>
		<thead>
			<tr>
				<th>{{'competencematrix.title' | translate}}</th>
				<th>{{'competencematrix.description' | translate}}</th>
				<th>{{'competencematrix.competences' | translate}}</th>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat="competencematrix in ctrl.competencematrixAll" ng-click="ctrl.setSelected(competencematrix.id)" 
				ng-class="{selected: competencematrix.id === ctrl.idSelected }" 
				ng-dblclick="ctrl.setSelected(competencematrix.id);ctrl.gotoCompetenceMatrix.update(ctrl.idSelected);">

				<td>{{competencematrix.title}}</td>
				<td>{{competencematrix.description}}</td>
				<td>{{competencematrix.competences}}</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
		</table>
	</div>	
</div>