<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>competencymatrix</display-name>
	<module-name>competencymatrix</module-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<mime-mapping>
		<extension>json</extension>
		<mime-type>application/json</mime-type>
	</mime-mapping>

	<security-constraint>
		<display-name>Protected Backend</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Backend</web-resource-name>
			<!-- Define the context-relative URL(s) to be protected -->
			<url-pattern>/backend/*</url-pattern>
		</web-resource-collection>

		<auth-constraint>
			<!-- Anyone with one of the listed roles may access this area -->
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Default login configuration uses form-based authentication -->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Nutzeranmeldung</realm-name>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/error.html</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<role-name>*</role-name>
	</security-role>

</web-app>
